* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Noto Sans Arabic", sans-serif;
}

body {
    background-color: #94B4C1;
}
header{
    background-color: #213448 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px;
    position: relative;
}

header  img {
    width: 40px;
}
header  .dropdown {
    list-style: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    transform: translateY(100%);
    display: none;
    z-index: 999;
}

header ul li {
    background-color: rgb(0 0 0 / 0.7) ;
    padding: 15px 30px;
    text-align: right;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px #94B4C1;
}

header > div:last-child:hover .dropdown{
    display:block ;
}

header > div > ul > li:first-child::before {
    content: "";
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: transparent;
    top: -40px;
    left:0px;

}