* {
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: #94B4C1;
}
header{
    background-color: #213448 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px;
    position: relative;
}

header  img {
    width: 40px;
}
header  .dropdown {
    list-style: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    transform: translateY(100%);
    display: none;
    z-index: 999;
}

header ul li {
    background-color: rgb(0 0 0 / 0.85) ;
    padding: 15px 30px;
    text-align: right;
    font-size: 1.25em;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px #94B4C1;
}

header > div:last-child:hover .dropdown{
    display:block ;
}

header > div > ul > li:first-child::before {
    content: "";
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: transparent;
    top: -40px;
    left:0px;

}

header div ul i {
    margin-left: 10px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
main > h2 {
    font-family: "Noto Sans Arabic", sans-serif;
    text-align: center;
    background-color: aliceblue;
    margin: 1em 0.5em 0.5em;
    border-radius: 15px;
    padding: 10px;
}

main article {
    font-family: "Amiri Quran",sans-serif;
    font-weight: 600;
    background-color: #EAE0CF;
    padding: 1.5em;
    width: 90%;
    margin: 0.5em 1em;
    border-radius: 15px;
    text-align: center;
}

main > *:last-child {
    margin-bottom: 20px; /* Keeps it from touching the bottom of the screen */
}